header{
    background-color:cadetblue;
    padding: 1%;
    text-align: center;
    border-top: 10px skyblue rgb(85, 135, 209);
    border-bottom: 10px rgb(193, 84, 236) solid rgb(77, 226, 201);
    color:rgb(123, 207, 120) rgb(68, 120, 233);

}
.imagen-inline{
    width:100px;
    height: auto;
    float: right;
    display:inline;
    margin-right: 10px;
    margin-top: 5px;
}
.navbar ul{
    background-color:darkseagreen;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.btn-nav {
    background-color:ghostwhite rgb(71, 137, 163);
    color:rgb(64, 134, 214) rgb(156, 65, 226);
    border: 1px rgb(54, 128, 118);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-nav:hover{
    background-color:rgb(66, 145, 197);
}